<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instinctools.routine_kmp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="RoutineKMP"
            android:theme="@style/Theme.SplashApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.instinctools.routine_kmp.ui.list.TodoListActivity" />
        <activity android:name="com.instinctools.routine_kmp.ui.details.TodoDetailsActivity" />
    </application>
</manifest>
